

<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ortholog, orthologue, homolog, homologue, BLAST, sequence similarity, alignment, hierachical clustering">
    <meta name="description" content="meta-analysis based orthology finder using symmetrical best hits">
    <title>MorFeus - meta-analysis based  orthology finder using symmetrical best hits</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/morfeus-favicon.png')}}">
    <link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='css/custom-theme/jquery-ui-1.8.23.custom.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/morfeus.css')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/ui/jquery.ui.core.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/ui/jquery.ui.widget.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/ui/jquery.ui.tabs.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/ui/jquery.ui.accordion.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/ui/jquery.ui.progressbar.js')}}" type="text/javascript"></script>
    <!-- morfeus network includes -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/network/morpheus.css')}}">
    <script src="{{url_for('static', filename='js/network/d3.v2.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/network/morfeus.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/network/morfeus.loading.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/network/morfeus.force.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/network/morfeus.tooltip.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // $("#accordion").accordion();
        $("#mytabs").tabs({disabled: [1,2]});   // disable result/network tab
        $("#mytabs").bind("tabsselect", tabSelect);  // tabselect handler
        $("#processbar").progressbar({ value: 0 });

        //$("#info").click( function() {
        //                              if ($("#help").is(":hidden"))
        //                                  $("#help").show()
        //                              else
        //                                   $("#help").hide()
        //                              }
        //                )

        // $("#info").hover( function() {$("#help").show();}, function() {$("#help").hide();} )

        console.log("time test 6");

        var networkLoaded = false;                  // network not loaded yet
        var canceledMRE = false;                    // canceled because minimum required evalue not reached
        var lpos = 0;                                 // log file position
        var timeout = 5000;
        var jobid="NP_012649-11131119";             // test id
        var bb = 0;                                 // no. backblast for progress bar
        var total = 100;                            // total backblast for progress bar

        // handling of reload &  access from mail URL

        var jobid = window.location.hash;
        console.log("Hash found: " + jobid);
        if (jobid.length) {
          jobid = jobid.slice(1);                    // remove '#'
          checkResult(jobid, false);
        }


        $("#protein").focus( function(event) { $(".error").hide() });

        $("form").submit(function(event) {

          var pid = $("#protein").val();
          // console.log(pid.match(/^.P_\d+/));
          if (!pid.match(/^.P_\d+/)) {
            $("#error1").show();
            return false;
          }

          // $("input:hidden[name='cltime']").val(new Date().getTime());
          $.ajax({
            url: $("form").attr("action"),
            data: $("form").serialize(),
            type: "post",
            //async: false,
            complete: response
            //error:   erresponse
            });
          event.preventDefault();
        });


        function response(data, status) {
          console.log('in reponse');
          console.log(data.responseText);
          text = $.parseJSON(data.responseText);
          jobid = text["jobid"];
          // var jobid = "NP_012649-11131119";
          console.log(jobid);

          $("#mytabs").tabs("url", 1, "{{ url_for('res_and_dummy', page="dummy.html") }}");    // clear old result tab
          $("#mytabs").tabs("enable", 1);
          {#$("#mytabs").tabs("option", "active", 1);#}
          $("#mytabs").tabs("select", 1);     // enable+select result tab
          // $("#process").prepend(text["message"]);  // no progress log

          window.location.hash = jobid;     // set jobid hash

          resultTimer = window.setInterval(showProcess, timeout, jobid);
          console.log("timer active");
        }

        function checkResult(jobid, load_tab) {
          console.log("checkResult");
          $("#mytabs").tabs("url", 1, jobid + ".html");       // set result url for result tab
          $("#mytabs").tabs("enable", 1);                     // enable result tab
          if (load_tab) {
            $("#mytabs").tabs("load", 1);
          }
          {#$("#mytabs").tabs("option", "active", 1);#}
          $("#mytabs").tabs("select", 1);
          $("#mytabs").tabs("enable", 2);                     //enable network tab
          $("#sif").attr("href", jobid + "_cytoscape.zip" );  // set network download link
        }

        function goBack() {
          console.log("goBack");
          $("#mytabs").tabs("disable", 1);                     // disable result tab
          $("#mytabs").tabs("select", 0);                     // back to submit tab
          $("#error2").show();
        }


        function goMRE() {
          console.log("goMRE");
          $("#pstate").hide();
          $("#mre").show();
          // $("#mytabs").tabs("url", 1, "mre.html");       // set mre error text for result tab
          //$("#mytabs").tabs("enable", 1);                // enable result tab
          // $("mytabs").tabs("load", 1);
          //$("#mytabs").tabs("select", 1);
        }

        function showProcess(jobid) {
          console.log("showProcess");
          console.log("JobID" + jobid);
          var now = new Date();
          // var now_time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
          $.ajax({
              url: "cgi-bin/process.py?job=" + jobid + "&tout=" + timeout, // + "&now=" + now_time,
              dataType: 'json',
              success: function(data, status) {
                console.log(status);
                let logLines = data;
                for (i=0; i<logLines.length; i++) {
                  //$("#process").replaceWith(logLines[i]) + "<br>";
                  console.log(logLines[i]);
                  // $("#pstate").text(logLines[i]); // no process log
                  var sofar = logLines[i].indexOf("blasted so far");
                  if (sofar!=-1) {
                    bb = logLines[i].substr(sofar+15,2);
                    total = logLines[i].substr(sofar+21,4);
                    console.log(bb, total);
                  }

                  if (logLines[i].indexOf("Canceled")!=-1) {    // end of job log file
                    canceledMRE = true;
                    window.clearInterval(resultTimer);
                    // goBack();
                  goMRE();
                  }
                  else {
                    if (logLines[i].indexOf("Remove")!=-1) {    // end of job log file
                      if (!canceledMRE) {
                        window.clearInterval(resultTimer);
                        checkResult(jobid, true);
                      }
                    }
                  }
                }
                $( "#processbar" ).progressbar( "option", "value", bb/total*100 );
                lpos+=5;
              },
              error: function(jqXHR, textStatus, errorThrown) { console.log("Error" + textStatus) }
          });
          // window.clearInterval(resultTimer);

        }

        function tabSelect(event, tab) {
          // console.log(tab)

          if (tab.index===0) {              // remove jobid before new submit
            window.location.hash = '';
          }

          if (tab.index===1) {
            $("#mre").hide();
          }

          if (tab.index===2 && networkLoaded===false) {

            $.ajax({
              url: "cgi-bin/network.py?job="+ jobid,
              dataType: 'json',
              success: function(nodes, status) {
                console.log(nodes);
                // nodes = $.parseJSON(data);
                // console.log(nodes);
                MORFEUS.init(nodes, "chart", jobid);
                networkLoaded = true;
              },
              error: function(jqXHR, textStatus, errorThrown) { console.log("Error" + textStatus) }
          });

            //$.getJSON("cgi-bin/network3.py", function(data) {
            //  nodes = $.parseJSON(data);
            //  console.log(nodes);
            //  }
            //)
          }
        }

      });

      // Add possibility to scroll horizontally if result table is larger than the screen
      $(document).ready(function(){
        var i=0;
          $("#result").on('mousewheel', function(e){
            if(e.originalEvent.wheelDelta /120 < 0) {
              i+=5;
              $('.scl').scrollLeft(i);
              var maxWidth= $('.scl').width();
              if(i>maxWidth){
                i=maxWidth;
              }
            } else {
              i-=5;
              $('.scl').scrollLeft(i);
              if(i<0){
                i=0;
              }
            }
          });
        });

    </script>
  </head>
  <body text="#000000" bgcolor="#FFFFFF" link="#FF0000" alink="#FF0000" vlink="#FF0000">
    <div id="info">
      <a href="{{url_for('morfeus_info')}}" target="_blank"><img src="{{url_for('static', filename='images/morfeus-info.png')}}" height="86" width="77" alt="morfeus logo"></a>
    </div>
    <div id="logo">
      <img src="{{url_for('static', filename='images/morfeus-logo-new2.png')}}" height="86" width="271" alt="morfeus info">
    </div>
    <!--
      <div id="title">
      Meta-analysis based Orthology Finder using symmetrical best hits
      </div>
      -->
    <div id="mytabs">
      <ul>
        <li><a href="#submit"><span>Submit</span></a></li>
        <li><a href="#result"><span>Result</span></a></li>
        <li><a href="#network"><span>Network</span></a></li>
      </ul>
      <div id="submit">
        <form action="" method="post">
          <input type="hidden" name="cltime">
          <fieldset>
            <legend>Input</legend>
            <label for="protein">RefSeq Protein ID</label>
            <input type="text" name="ID" id="protein" value="" size="20" maxlength="20" title="NCBI RefSEQ ID (NP_/XP_...)" {{ error_id }}>
            <a href="http://www.uniprot.org/?tab=mapping" target="_blank">Map UniProt ID</a>
            <div class="error" id="error1">Please insert valid RefSeq ID</div>
            <div class="error" id="error2">RefSeq ID has too many similar hits</div>
          </fieldset>
          <!-- <fieldset>
            <legend>Paste protein sequence here</legend>

            <label for="sequence">Sequence</label>
            <textarea name="SEQ" id="sequence" cols="40" rows="5"></textarea>

            </fieldset>

            -->
          <fieldset>
            <legend>Search Options</legend>
            <table>
              <tr>
                <td>
                  <label for="db">Database</label>
                </td>
                <td>
                  <select name="LIMIT" id="db" size="1" title="Choose between complete refseq or subset">
                    <option value="">All species</option>
                    <option value="/home/morfeus/blast/db/Archaea.gilist">Archaea</option>
                    <option value="/home/morfeus/blast/db/Bacteria.gilist">Bacteria</option>
                    <option value="/home/morfeus/blast/db/Bacteria_Archaea.gilist">Bacteria/Archaea</option>
                    <option value="/home/morfeus/blast/db/Eukaryota-all.gilist">Eukaryota</option>
                    <option value="/home/morfeus/blast/db/Eukaryota-selectedMammalia.gilist">Eukaryota - selected Mammalia</option>
                    <option value="/home/morfeus/blast/db/Fungi.gilist">Fungi</option>
                    <option value="/home/morfeus/blast/db/Metazoa-all.gilist">Metazoa</option>
                    <option value="/home/morfeus/blast/db/Metazoa-selectedMammalia.gilist">Metazoa - selected Mammalia</option>
                    <option value="/home/morfeus/blast/db/Opisthokonta-all.gilist" selected>Opisthokonta</option>
                    <option value="/home/morfeus/blast/db/Opisthokonta-selectedMammalia.gilist">Opisthokonta - selected Mammalia</option>
                    <option value="/home/morfeus/blast/db/Viridiplantae.gilist">Viridiplantae</option>
                    <!-- option value="nr">nr</option -->
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="evalue">E-value</label>
                </td>
                <td>
                  <input type="text" name ="EVALUE" id="evalue" size="6" value="100" title="NCBI blastp e-value">
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" name="FILTER" value="yes" checked title="SEG + coiled-coil filtering">
                </td>
                <td>
                  <label>Low-Complexity Filter</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" name="CBS" value="T" checked title="Consider composition of query and database sequences">
                </td>
                <td>
                  <label>Composition-based Statistics</label>
                </td>
              </tr>
            </table>
            <!--  single filtering options
              <input type="checkbox" name="FILTER" value="S" checked>SEG<br>
              <input type="checkbox" name="FILTER" value="C" checked>Coiled coil<br>
              <input type="checkbox" name="FILTER" value="m" checked>Soft masking
              -->
          </fieldset>
          <!--
            <label for="matrix">Matrix</label>
            <select name="MATRIX" id="matrix" size="1">
            <option value="BLOSUM90" disabled>BLOSUM90</option>
            <option value="BLOSUM80">BLOSUM80</option>
            <option value="BLOSUM62" selected>BLOSUM62</option>
            <option value="BLOSUM50">BLOSUM50</option>
            <option value="BLOSUM45">BLOSUM45</option>
            <option value="PAM250">PAM250</option>
            <option value="PAM70">PAM70</option>
            <option value="PAM30">PAM30</option>
            </select>


            <br>
             <input type="checkbox" name="LIMIT" value="''">All species <br>
             (default: fungi/metazoa)
            -->
          <fieldset>
            <legend>Job Options</legend>
            <label for ="email">Email</label>
            <input type="email" name="EMAIL" id="email" size="20" maxlength="40" title="Email address to be notified of search completion" required>
          </fieldset>
          <fieldset>
            <legend>Start morFeus Search</legend>
            <input type="submit" name="" value="Search">
          </fieldset>
        </form>
      </div>
      <!-- submit tab -->
      <div id="result">
        <!--<img src="loading-bar.gif" alt="Waiting..">-->
        <div id="pstate">
          <img src="{{url_for('static', filename='images/ajax-loader-green.gif')}}" alt="Waiting..">
          A message including the result URL will be send to the given email address.
        </div>
        <div id="mre" style="display: none">
          Query contains too many closely related hits! Please use other methods for orthology detection instead:
          <p>
            Available databases:
          <ol>
            <li><a href="http://www.ncbi.nlm.nih.gov/homologene" target="_blank">HomoloGene</a></li>
            <li><a href="http://inparanoid.sbc.su.se/cgi-bin/index.cgi" target="_blank">Inparanoid</a></li>
            <li><a href="http://orthomcl.org/orthomcl/" target="_blank">OrthoMCL</a></li>
            <li><a href="http://www.ensembl.org/info/genome/compara/index.html" target="_blank">EnsemblCompara</a></li>
            <li><a href="http://phylogenomics.berkeley.edu/phylofacts/" target="_blank">Berkley PHOG</a></li>
            <li><a href="http://phylomedb.org/" target="_blank">PhylomeDB</a></li>
            <li><a href="http://www.treefam.org/" target="_blank">TreeFam</a></li>
          </ol>
          <p>
            Available search methods:
          <ol>
            <li><a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank">BLAST or PSI-BLAST</a></li>
            <li><a href="http://phylogenomics.berkeley.edu/fatcat/" target="_blank">FAT-CAT</a></li>
            <li><a href="http://inparanoid.sbc.su.se/cgi-bin/index.cgi" target="_blank">Inparanoid</a></li>
          </ol>
        </div>
      </div>
      <div id="network">
        <!-- img src="ajax-loader.gif" alt="Waiting.." -->
        <a id="sif" href="" target="_blank">Download network</a>
        <div id="chart">
          <!-- network display here -->
        </div>
      </div>
    </div>
    <!-- tabs -->
    <div id="help">
      morFeus stands for meta-analysis based orthology finder using symmetrical best hits. If you use morFeus, please cite:
      <br><br>
      <cite>
      Wagner I, Volkmer M, Sharan M, Villaveces JM, Oswald F, Surendranath V and Habermann BH. (2014). morFeus: a web-based program to detect remotely conserved orthologs using symmetrical best hits and orthology network scoring. BMC Bioinformatics 15 (1), 263.
      </cite>
      <br><br>
      In case of problems, please contact volkmer@biochem.mpg.de or habermann@biochem.mpg.de
    </div>
  </body>
</html>

