<div>
Query contains too many closely related hits! Please use other methods for orthology detection instead:
<p>
Available databases:
<ol>
<li><a href="http://www.ncbi.nlm.nih.gov/homologene" target="_blank">HomoloGene</a></li> 
<li><a href="http://inparanoid.sbc.su.se/cgi-bin/index.cgi" target="_blank">Inparanoid</a></li>
<li><a href="http://orthomcl.org/orthomcl/" target="_blank">OrthoMCL</a></li> 
<li><a href="http://www.ensembl.org/info/genome/compara/index.html" target="_blank">EnsemblCompara</a></li> 
<li><a href="http://phylogenomics.berkeley.edu/phylofacts/" target="_blank">Berkley PHOG</a></li> 
<li><a href="http://phylomedb.org/" target="_blank">PhylomeDB</a></li>
<li><a href="http://www.treefam.org/" target="_blank">TreeFam</a></li> 
</ol>
<p>
Available search methods:
<ol>
<li><a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank">BLAST or PSI-BLAST</a></i>
<li><a href="http://phylogenomics.berkeley.edu/fatcat/" target="_blank">FAT-CAT</a></li>
<li><a href="http://inparanoid.sbc.su.se/cgi-bin/index.cgi" target="_blank">Inparanoid</a></li> 
</ol>
</div>
