

<!DOCTYPE HTML>
<html>
    <head>
        <title>morFeus - Manual & Help Pages</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grppages.css') }}" />
    </head>
    <body style="background: url({{url_for('static', filename='images/background3.gif')}}) repeat;">
        <div id="twocolumn-right" style="background: url({{url_for('static', filename='images/container.gif')}}) repeat-x left top;">
        	<div id="container">
        		<div class="wrapper">
					<div id="header">
						<div class="wrapper">
							<h1 id="page-title">
								<div id='g_title'>
									<p style="text-align: center; clear: both;" class="separator"></p>
									<img src="{{ url_for('static', filename='images/morfeus-logo-new1.png')}}" style="border: 0px solid silver;clear: left; margin-bottom: 0.1em; float: left; margin-right: 0.1em; width: 250px;" /><br>
									<div style="text-align: center;">morFeus - Help & Information</div>
								</div>
							</h1>
							<div style="clear: both"></div>
							<p class="description">
							<div id='g_description'> </div>
							</p>
							<div style="clear: both"></div>
						</div>
					</div>
					{% block corps %} 
					{% endblock corps %}

 					<div id="sidebar">
                        <div class="wrapper">
                            <div class="links">
                                <div class="wrapper">
                                    <div id='g_sidebar'>
                                        <p style="font-family: verdana; color: rgb(0, 0, 51);font-size: 140%"><a href="{{url_for('main_page')}}" target="_blank">morFeus web-server</a></p>
                                        <p style="font-family: verdana; color: rgb(0, 0, 51);font-size: 140%"><a href="{{ url_for('morfeus_info', page='index.html') }}">morFeus help & information</a></p>
                                        <p style="font-family: verdana; color: rgb(0, 0, 51);font-size: 140%"><a href="{{ url_for('morfeus_info', page='morFeus-Output.html') }}">morFeus output</a></p>
                                        <p style="font-family: verdana; color: rgb(0, 0, 51);font-size: 140%"><a href="{{ url_for('morfeus_info', page='morFeus-VM.html') }}">download morFeus-VM</a></p>
                                        <p style="font-family: verdana; color: rgb(0, 0, 51);font-size: 140%"><a href="{{ url_for('morfeus_info', page='morFeus-about.html') }}">about morFeus</a></p>
                                        <p style="font-family: verdana; color: rgb(0, 0, 51);font-size: 140%"><a href="{{ url_for('morfeus_info', page='contact.html') }}">contact & citation</a></p>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both">
                            </div>
                            <br>
                            <br>
                            <br>
                            <a style="border: 0pt none ; background-color: transparent; margin-left: 2em;" href="http://www.age.mpg.de/" imageanchor="1" target="_blank"><img src="{{url_for('static', filename='images/Logo_MPI-Age_cmyk_double.jpg')}}" style="border: 0pt none ; width: 150px"></a>
                            <br>
                            <br>
                            <a style="border: 0pt none ; background-color: transparent; margin-left: 2em;" href="http://www.mpg.de/" imageanchor="1" target="_blank"><img src="{{url_for('static', filename='images/mpglogo.png')}}" style="border: 0pt none ; width: 80px"></a>                        <br>
                        </div>
                    </div>
                    <br>
                    <!-- /wrapper --><!-- /sidebar -->
                    <div id="footer">
                        <div class="wrapper">
                            <hr />
                            <p>
                            <div id='g_footer'>
                                <p style="text-align: center; clear: both;" class="separator"></p>
                                <p style="text-align: center; clear: both;" class="separator"></p>
                                <p style="text-align: center; clear: both;" class="separator"></p>
                                <p style="text-align: center; clear: both;" class="separator"></p>
                                <p> </p>
                                <p style="text-align: center; clear: both;" class="">  </p>
                            </div>
                            </p>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                    <!-- /wrapper --><!-- /footer -->
                </div>
            </div>
            <!-- /wrapper --><!-- /container -->
            <div id="extraDiv1"><span></span></div>
            <div id="extraDiv2"><span></span></div>
            <div id="extraDiv3"><span></span></div>
            <div id="extraDiv4"><span></span></div>
            <div id="extraDiv5"><span></span></div>
            <div id="extraDiv6"><span></span></div>
        </div>
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript">
            _uacct = "UA-1296920-3";
            urchinTracker();
        </script>
    </body>
</html>

