{% extends 'help/base.html' %}
{% block corps %}
<div id="main-content">
	<div class="wrapper">
		<div class="content-item">
			<div id="g_body">
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator">
				If you use morFeus, please cite:<br><br>
				Wagner I, Volkmer M, Sharan M, Villaveces JM, Oswald F, Surendranath V and Habermann BH. (2014). <i>morFeus: a web-based program to detect remotely conserved orthologs using symmetrical best hits and orthology network scoring. BMC Bioinformatics 15 (1), 263.</i><br><br>
				In case of problems, please contact <a href=mailto:volkmer@biochem.mpg.de>volkmer@biochem.mpg.de</a> or <a href=mailto:habermann@biochem.mpg.de> habermann@biochem.mpg.de</a>.
				</p>
				<br>
			</div>
		</div>
		<br><br>
		<p style="font-family: verdana; text-align: left; clear: both;" class="separator"></p>
	</div>		
</div>
{% endblock corps %}

