{% extends 'help/base.html' %}
{% block corps %}
<div id="main-content">
	<div class="wrapper">
		<div class="content-item">
			<div id="g_body">
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator">Welcome to the Help & Information pages of <strong>morFeus</strong>. Here, you will find information on using the web-server, interpreting the output, as well as on how to download the virtual machine of <strong>morFeus</strong> for local command-line usage.</p>
				<br>
				<h4>
					<p style="font-family: verdana; text-align: left; clear: both;" class="separator">morFeus web-server help
				</h4>
				</p>
			</div>
		</div>
		<ul>
			<div class="content-item">
				<div id="g_body">
					<h5>Input</h5>
					<p style="font-family: verdana; text-align: left; clear: both;" class="separator">
						<strong>RefSeq Protein ID</strong> <br>
						Enter the Identifier of the query. Only RefSeq Identifiers from the <a href="http://www.ncbi.nlm.nih.gov/refseq/" target="_blank">NCBI RefSeq protein database</a> are valid (example: NP_595754).
					</p>
					<h5>Search Options</h5>
					<p style="font-family: verdana; text-align: left; clear: both;" class="separator">
						<strong>Database</strong> <br>
						Chose the database you want to search against. You can chose between <strong>all species</strong>, <strong>eukaryota</strong>, <strong>fungi/metazoa</strong>, <strong>viridiplantae</strong> or <strong>bacteria</strong>. All database search options are based on the <a href="http://www.ncbi.nlm.nih.gov/refseq/" target="_blank">NCBI RefSeq protein database</a>.
						<br><br>
						<strong>E-value</strong><br>
						Chose the E-value cut-off for the BLAST and back-BLAST searches. Depending on your search query, you will chose either a low or high cut-off. For search queries with only remote similarity to orthologs, an initial setting of <strong>100</strong> is recommended.
						<br><br>
						<strong>Low-Complexity Filtering</strong><br>
						Turn filtering of low-complexity regions in proteins <strong>on</strong> or <strong>off</strong>. Default: <strong>on</strong>.
						<br><br>
						<strong>Composition-based Statistics</strong><br>
						Method to adjust the matrix to compensate for amino acid composition. See more information on <a href="http://www.ncbi.nlm.nih.gov/BLAST/blastcgihelp.shtml#compositional_adjustments" target="_blank">composition-based statistics @ the NCBI</a>.
					</p>
					<h5>Job Options</h5>
					<p style="font-family: verdana; text-align: left; clear: both;" class="separator">
						<strong>E-mail (optional)</strong> <br>
						You can enter your e-mail address for notification of finished jobs. The link to the morFeus results will be sent to you. Highly recommended, as morFeus jobs can take a long time (several hours).
					</p>
					</p>
		</ul>
		<br><br>
		<h4><p style="font-family: verdana; text-align: left; clear: both;" class="separator">morFeus command line options</h4></p>
		<p style="font-family: verdana; text-align: left; clear: both;" class="separator">You will have to download the <a href="morFeus-VM.html">morFeus virtual machine</a> in order to use the command line options.</p>
		<ul>
		<h5>Summary of Command-line Options and a Short Description of their Function</h5>
		<p style="font-family: verdana; text-align: left; clear: both;" class="separator">
		<strong>Usage:</strong> morfeusd.py [options] id1 [id2 .. idn]
		<br><br>
		<strong>Options:</strong><br>
		-h, --help            show this help message and exit<br><br>
		-c, --cleanup         (C)leanup morfeusd queue - required to clean up queue after failed job<br><br>
		-e EVALUE, --e-value=EVALUE (E)-value - chose the E-value for BLAST and back-BLAST jobs<br><br>
		-f, --file            Input id (F)ile - chose Input (query); either use NCBI RefSeq ID or provide FASTA-formatted file<br><br>
		-g, --graph           Draw network (G)raph - show network graph as output<br><br>
		-l, --local           Use local BLAST queue - use local (as opposed to remote NCBI) BLAST queue; default: remote<br><br>
		-r, --re-run          (R)u-run existing job - rerun a job; useful, as it saves time for back-BLASTing; enter job-ID after -r<br><br>
		-s, --skip            (S)kip clustering (re-run) - skip the clustering step; can be used only with -r (re-run)<br><br>
		-n, --no-clustering   (N)o clustering) - skip clustering step in new job; prevents clustering hits based on similarity of alignment and starts with back-BLASTs based on E-value<br>
		</p>
		</ul>
		<br><br>
		<p style="font-family: verdana; text-align: left; clear: both;" class="separator"></p>
		</div>		
		</div>
{% endblock corps %}
