{% extends 'help/base.html' %}
{% block corps %}
<div id="main-content">
	<div class="wrapper">
		<div class="content-item">
			<div id="g_body">
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator">Here you can find a typical output from <strong>morFeus</strong>.
				<br>These help pages are here to help you navigate and interpret typical morFeus results.
				</p>
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator">The main result of morFeus is the list of putative orthologs. You can see a typical hitlist below:</p>
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator"><img src="{{url_for('static', filename='images/morfeus-hitlist-long.png')}}" style="border: 4px solid silver;clear: left; margin-bottom: 1em; float: left; margin-right: 1em; width: 550px;" />
				<br>The hitlist contains information on the protein itself and via the RefSeq ID, you can link out to the NCBI entry of the protein. The Network Score and E-value give the network connectivty and statistical significance of the hit, respectively. 
				The lower the E-value, the more similar the sequences; the higher the Network Score (ranges from 0-1), the more highly connected the hit is with the other candidates in the orthology network. 
				<br><br>In the close-up shown below, you can see where the different links lead to and which information can be accessed from the list of orthologs.
				</p>
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator"><img src="{{url_for('static', filename='images/morfeus-hitlist-short.png')}}" style="border: 4px solid silver;clear: left; margin-bottom: 1em; float: left; margin-right: 1em; width: 550px;" /></p>
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator">
				The second part of a morFeus results is the network. We have implemented it using <a href="http://d3js.org/" target="_blank">d3.js</a> to allow users to navigate it and to provide high-end visualization. You can change the color and size of the nodes
				according to the Network Score and the E-value. <br>
				<br>In the close-up shown below, you can see a typical network of orthologs created by morFeus. 
				</p>
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator"><img src="{{url_for('static', filename='images/morfeus-network.png')}}" style="border: 4px solid silver;clear: left; margin-bottom: 1em; float: left; margin-right: 1em; width: 550px;" /></p>
				<br>
			</div>
		</div>
		<br><br>
		<p style="font-family: verdana; text-align: left; clear: both;" class="separator"></p>
	</div>		
</div>
{% endblock corps %}
