{% extends 'help/base.html' %}
{% block corps %}
<div id="main-content">
	<div class="wrapper">
		<div class="content-item">
			<div id="g_body">
				<p style="font-family: verdana; text-align: left; clear: both;" class="separator">We provide a virtual machine of morFeus for download and local usage. If you are interested in acquiring the morFeus virtual machine, please contact <a href=mailto:volkmer@biochem.mpg.de>Michael Volkmer</a> and <a href=mailto:habermann@biochem.mpg.de>Bianca Habermann</a>. morFeus is distributed under the GNU-public license.</p>
				<br>
			</div>
		</div>
		<br><br>
		<p style="font-family: verdana; text-align: left; clear: both;" class="separator"></p>
	</div>		
</div>
{% endblock corps %}

