#g_title p, #g_footer p, #g_description p {
    margin: 0;
  }
  /*

  	-- -- -- -- -- -- --
  	Browser Fixes
  	-- -- -- -- -- -- --
  	
  	This file uses CSS filtering methods to fix various
  	layout bugs.

  	Each of the following three imported files is a 
  	separate, browser-specific CSS file that keeps all 
  	hacks out of the main style sheet.
  	
  	Over time, as supporting these browsers no longer
  	remains a priority, cleaning up the hacks is as
  	easy as deleting the @import statement below, or
  	simply no longer linking this file from the HTML.
  	
  */

  /* 
    fix ie6 "peekaboo bug" using the "holly hack". 
    Note, this style only gets applied to ie6
  */
  * html .wrapper {
    height: 0.1%;
  }

  /* 
   * IE5 mac - overrides the IE/Win hack 
   */

  /*\*//*/

  * html #threecolumn div {
  	height: auto;
  }

  /**/


  /* 
   * IE5/Win-specific CSS -ensures #container wraps all content on window resize
   */

  @media tty {
   i{content:"\";/*" "*/}} * html #container { height: 1%; } /*";}
  }/* */
  /* Styling for editable elements. Eventually, this will be part of the style. */
  .editable {
    border: 1px dashed blue;
  }
  
  #footer {
    clear: both;
  }
  
  /* Extra divs hidden by default. The custom CSS can override this though */
  #extraDiv1, #extraDiv2, #extraDiv3, #extraDiv4, #extraDiv5, #extraDiv6 {
    display: none;
  }
  
  a img,:link img,:visited img {border: none;}

  body {
    text-align: center;
  }
  #container {
    width: 918px;
    text-align: left;
    margin: 0 auto;
  }
  #main-content {
    float: left;
    display: inline; /* for IE */
    width: 570px;
  }
  #sidebar {
    float: left;
    display: inline; /* for IE */
    width: 330px;
  }
  #footer {
    clear: both;
  } 
  /** BEGIN CUSTOM SKIN **/
  /*

  	-- -- -- -- -- -- --
  	Base CSS
  	-- -- -- -- -- -- --
  	
  	This file simply removes default styling on most HTML elements in 
  	order to reduce the need to later override them.
  	
  */

  h1,h2,h3,h4,h5,h6,pre,code,p {font-size: 1em;}
  dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0;}

  a img,:link img,:visited img {border: none;}
  address {font-style: normal;}/*

  	-- -- -- -- -- -- --
  	Type Scheme: Deco
  	-- -- -- -- -- -- --
  	
  */

  body {
  	font: 76% Verdana, sans-serif;
  }	

  h1, h2, h3, h4, h5, h6, p.description {
  	font-family: "Trebuchet MS", Trebuchet, sans-serif;
  }
  h1 {
  	font-size: 3em;
  	font-weight: bold;
  	letter-spacing: 2px;
  }
  h2 {
  	font-size: 2em;
  	font-weight: normal;
  }
  h3 {
  	font-size: 1.5em;
  }
  h4 {
  	font-size: 1.2em;
  	letter-spacing: 0.2em;
  }
  h5 {
  	font-size: 1.2em;
  }
  h6 {
  	font-size: 1em;
  	font-weight: bold;
  }

  p, td {
  	line-height: 1.8em;
  }
  code, kbd {
  	font-size: 1.25em;
  }/*

  	-- -- -- -- -- -- --
  	STYLE: Victoria
  	-- -- -- -- -- -- --

  */


  /* ie6win */

  /* IE/Win fixes for various layouts
  ----------------------------------------------- */
  * html #threecolumn #main-content {
  	width: 529px;
  	margin-left: -2px;
  }

  /* ie5mac */

  /*\*//*/
  * html #threecolumn #main-content {
  	width: 429px;
  	margin-left: 0;
  }
  /**/

  /* ie5win */

  @media tty {
   i{content:"\";/*" "*/}} td { font-size: 0.8em; } #footer p { margin: 0; padding: 1em 0; } /*";}
  }/* */


  /* Basic HTML style
  ----------------------------------------------- */
  a:link {
  	text-decoration: underline;
  }
  a:visited {
  	text-decoration: underline;
  }
  body {
  	font: 80% "Georgia", serif;
  	margin: 0;
  	padding: 0 0 25px 0;
  	border-top: solid 3px #fff;
  	border-bottom: solid 3px #fff;
  }
  caption {
  	font-size: 1.2em;
  	font-style: italic;
  	text-align: left;
  	padding: 1px 4px 4px 4px;
  	margin-bottom: 4px;
  	border-bottom: solid 1px #ccc;
  }
  dt {
  	font-weight: bold;
  }
  dd {
  	font-style: italic;
  	margin: 0 0 1em 1em;
  }
  h2 {
  	font-size: 1.4em;
  	font-weight: normal;
  	margin: 1em 0;
  	padding-bottom: 3px;
  }
  h3 {
  	font-size: 1.2em;
  	font-weight: normal;
  	font-style: normal;
  	padding-bottom: 8px;
  	margin-top: 1em;
  	margin-bottom: 0.5em;
  }
  h4 {
  	font-size: 1.1em;
  	letter-spacing: 0.1em;
  	padding-left: 12px;
  	margin: 1.5em 0 1em 0;
  }
  h5 {
  	padding-bottom: 2px;
  	margin: 1.5em 0 1em 0;
  }
  h6 {
  	font-weight: normal;
  	letter-spacing: 0.1em;
  	margin: 1em 0;
  }
  hr {
  	margin: 2em 0;
  	border-style: none;
  	height: 1px;
  }
  p {
  	line-height: 1.6;
  	margin: 1em 0;;
  }
  td {
  	vertical-align: top;
  	padding: 1px 4px;
  }
  td p {
  	margin: 0 0 0 0;
  }
  th {
  	text-align: left;
  	font-weight: normal;
  	font-style: italic;
  	vertical-align: top;
  	padding: 1px 4px;
  }


  ul, ol, dl { line-height: 1.4em; margin-bottom: 1.6em; padding-left: 2em; margin-left: 0; }

  ul li {
  	list-style: circle;
  	margin-bottom: 0.8em;
  }
  ol li {
  	list-style: upper-roman;
  	margin-left: 2em;
  	margin-bottom: 0.8em;
  }




  /* Header
  ----------------------------------------------- */
  h1 {
  	padding-top: 25px;
  	font-size: 2.4em;
  	letter-spacing: 0.1em;
  	text-align: center;
  }
  #g_description {
  	font-style: italic;
  	text-align: center;
  	padding-bottom: 15px;
  	margin: 0;
  	line-height: 1;
  }


  /* content
  ----------------------------------------------- */
  #main-content .wrapper {
  	margin: 0 25px;
  }



  /* sidebar
  ----------------------------------------------- */

  #sidebar .wrapper {
  	padding-left: 45px;
  	padding-right: 5px;
  }

  #sidebar .wrapper h3 {
  	padding: 0 0 11px 0;
  }


  #sidebar li {
  	margin-bottom: 0.8em;
  }
  #sidebar .wrapper ul li {
  	list-style: circle;
  }
  #sidebar .wrapper ol li {
  	list-style: upper-roman;
  }

  #sidebar .links {
  	margin-bottom: 2em;
  }


  #adsense, #adsense .wrapper {
  	text-align: left;
  	margin: 0;
  	padding: 0;
  }


  /* footer
  ----------------------------------------------- */
  #footer {
  	margin: 0;
  	font-style: italic;
  	font-size: 0.9em;
  }
  #footer hr {
  	display: none;
  }

  /* header
  ----------------------------------------------- */
  #header #page-title {
  	padding-left: 12px;
  	padding-right: 12px;
  }

  #header #g_description {
  	margin-left: 12px;
  	margin-right: 12px;
  }


  /* fixed right 2 column
  ----------------------------------------------- */
  #twocolumn-right #header .wrapper {
  	padding-bottom: 10px;
  }
  #twocolumn-right #footer {
  	padding: 0 364px 10px 25px;
  }

  /* editable area borders
  ----------------------------------------------- */
  .editable {
  	border: dashed 1px #f00;
  }
  #twocolumn-right .editmode h1 {
  	background-position: -1px 0;
  }
  
  /*

  	-- -- -- -- -- -- --
  	COLOR SCHEME: Crystal
  	-- -- -- -- -- -- --

  */




  /* Basic HTML style
  ----------------------------------------------- */
  a:link { color: #454884; }
  a:visited { color: #454884; }
  a:hover {
  	color: #454884;
  }
/*  body {
  	color: #565555;
  	background: #C5C5C5 url(images/container.gif) repeat-x left top;
  	border-top-color: #fff;
  	border-bottom-color: #fff;
  }*/
  caption {
  	border-bottom-color: #ccc;
  }
  h2 {
  	color: #43c193;
  	background: url(../images/h2-border.gif) repeat-x left bottom;
  }
  h3 {
  	color: #006833;
  	background: url(../images/h3-border.gif) repeat-x left bottom;
  }
  h4 {
  	color: #43c193;
  	background: url(../images/h4-deco.gif) no-repeat 0 5px;
  }
  h5 {
  	color: #66f;
  	background: url(../images/h5-border.gif) repeat-x left bottom;
  }
  hr {
  	color: #C7C7C7;
  	background: #C7C7C7;
  	border-color: #C7C7C7;
  }




  /* Header
  ----------------------------------------------- */
  h1 {
  	color: #5a5ad2;
  }




  /* sidebar
  ----------------------------------------------- */
  #sidebar .wrapper h3 { color: #676ab6; font-size: large; background: url(../images/h3-sidebar-border.gif) no-repeat center bottom; }


  /* footer
  ----------------------------------------------- */
  #footer {
  	color: #A5A4A5;
  }


  /* fixed-width common header
  ----------------------------------------------- */
  #twocolumn-right h1 {
  	background: url(../images/fixed-h1.gif) no-repeat;
  }
  #twocolumn-right #header {
  	background: url(../images/fixed-header.gif) repeat-y;
  }


  /* fixed right 2 column
  ----------------------------------------------- */
  #twocolumn-right #header .wrapper {
  	background: url(../images/fixed-right-headerwrapper.gif) no-repeat left bottom;
  }
  #twocolumn-right #container {
  	background: #fff url(../images/fixed-right-container.gif) repeat-y;
  }
  #twocolumn-right #footer {
  	background: url(../images/fixed-right-footer.gif) no-repeat left bottom;
  }


  /* editable area borders
  ----------------------------------------------- */
  .editable {
  	border-color: #f00;
  }
  #twocolumn-right .editmode h1 {
  	background-position: -1px 0;
  }
  

  /** END CUSTOM SKIN **/
