#info {
    position: relative;
    z-index: 1;
    left: 3px;
    margin: 3px;
    border: 0px solid black;
    float: left;
}

#help {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.7em;
    position: relative;
    z-index: 1;
    left: 3px;
    width: 800px;
    margin: 3px;
    border: 0px solid black;
    float: left;
}

#logo {
    position: relative;
    z-index: 1;
    right: 3px;
    margin: 3px;
    border: 0px solid black;
    float: right;
}

#title {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.7em;
    position: relative;
    z-index: 1;
    left: 25%;
    margin: 3px;
    border: 0px solid black;
}

#mytabs {
    clear: left;
    height: auto;
}

/*If result table is larger tha screen, doesn't overflow the result div*/
#result {
    /*table-layout: fixed;*/
    overflow: auto;
}

.error {
    color: red;
    display: none;
}

legend {
    font-size: 0.7em;
}

label {
    font-weight: bold;
}
