.circle-legend{
	stroke-width:1;
  	stroke:#999;
  	stroke-dasharray:2 2;
  	fill:none;
}

#tooltip {	
	z-index: 3000;
	position: absolute;
	font-size: 12px;
	border-radius: 3px;
	background: rgba(255,255,255,0.9);
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);  
	border:1px solid rgba(200,200,200,0.85);
	text-align:center;
}

#tooltip .title{
  text-transform: uppercase;
  text-align: left;
  font-size: 13px;
  margin-bottom: 2px;
  text-align:center;
  margin: 3px;
}

#tooltip .rule{
  height:1px;
  margin:1px auto 3px;
  background:#000;
  margin: 3px;
}

#tooltip .rest{
	color:#666;
	text-align: left;
  	font-size: 12px;
 	text-align:center;
 	margin: 3px;
 }
 
#tooltip .vcontainer{
	margin: 3px;
	color: green;
 }
 
 #tooltip .value{
	text-align:center;
	right:10px;
	top:28px;
	font-size: 13px;
	text-align:center;  
	overflow:hidden;
	font-weight:bold;
 }

 #tooltip .change{
	padding-left:10px;
	font-size: 13px;  
	text-align:right;  
	overflow:hidden;
	font-weight:bold;
	text-align:center;  
	display:inline;
 }
